html {
  overflow: hidden;
}

.question {
  position: absolute;
  left: 15px;
  right: 15px;
}

.question .card {
  backface-visibility: hidden;
}

.question-enter .card {
  transform: rotateY( 180deg);
}

.question-enter-active .card {
  transform: rotateY( 0deg);
  transition: transform 1s;
}

.question-exit .card {
  transform: rotateY( 0deg);
}

.question-exit-active .card {
  transform: rotateY( 180deg);
  transition: transform 1s;
}

/* .question-enter .category {
  opacity: 0;
}

.question-enter-active .category {
  opacity: 1;
  transition: opacity 300ms;
}

.question-exit .category {
  opacity: 1;
}

.question-exit-active .category {
  opacity: 0;
  transition: opacity 300ms;
} */